[user]
	name = Marcin Wilk
	email = marcin.wilk.dev@gmail.com

[core]
	editor = nvim
  pager = delta

[init]
	defaultbranch = master

[color]
	ui = auto

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[diff]
  colorMoved = default

[merge]
	conflictstyle = diff3

[pull]
	rebase = false
