[user]
	name = Marcin Wilk
	email = marcin.wilk.dev@gmail.com

[color]
	ui = auto

[merge]
	conflictstyle = diff3

[init]
	defaultbranch = master

[core]
	editor = lvim

[diff]
	tool = lvim

[pull]
	rebase = false
