set clipboard+=unnamed
set clipboard+=ideaput
set scrolloff=8
set hlsearch
set incsearch
set ignorecase
set smartcase
set ideajoin
set idearefactormode=keep
set highlightedyank

let mapleader=" "

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

sethandler <c-k> a:vim
sethandler <c-j> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

sethandler <c-a-k> a:vim
sethandler <c-a-j> a:vim
inoremap <c-a-j> :action EditorDown<CR>
inoremap <c-a-k> :action EditorUp<CR>

nnoremap <s-h> :action PreviousTab<CR>
nnoremap <s-l> :action NextTab<CR>

nnoremap <a-j> :m .+1<CR>==
nnoremap <a-k> :m .-2<CR>==
vnoremap <a-j> :m '>+1<CR>gv=gv
vnoremap <a-k> :m '<-2<CR>gv=gv

nnoremap <leader>h :noh<CR>

nnoremap <leader>c :action CloseContent<CR>
nnoremap <leader>q :action CloseAllEditors<CR>

vnoremap < <gv
vnoremap > >gv

nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>ft :action FindInPath<CR>
vnoremap <leader>ft :action FindInPath<CR>

nnoremap <leader>// :action CommentByLineComment<CR>
vnoremap <leader>// :action CommentByLineComment<CR>

nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>

nnoremap <leader>dR :action ChooseRunConfiguration<CR>
nnoremap <leader>dr :action ContextRun<CR>
nnoremap <leader>dd :action ContextDebug<CR>
nnoremap <leader>db :action ToggleLineBreakpoint<CR>
nnoremap <leader>dc :action Resume<CR>
nnoremap <leader>ds :action StepInto<CR>
nnoremap <leader>dn :action StepOver<CR>
nnoremap <leader>df :action StepOut<CR>
nnoremap <leader>dt :action Stop<CR>

nnoremap gD :action GoToDeclaration<CR>
nnoremap gi :action GoToImplementation<CR>
nnoremap gc :action GoToClass<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gt :action GoToTest<CR>
nnoremap gs :action GoToSuperMethod<CR>
nnoremap gj :action MethodDown<CR>
nnoremap gk :action MethodUp<CR>

nnoremap <leader>la :action ShowIntentionActions<CR>
nnoremap <leader>lj :action GotoNextError<CR>
nnoremap <leader>lk :action GotoPreviousError<CR>
nnoremap <leader>ll :action ShowErrorDescription<CR>
nnoremap <leader>lr :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>lf :action ReformatCode<CR> :action OptimizeImports<CR>
nnoremap <leader>lo :action OptimizeImports<CR>
nnoremap <leader>lg :action Generate<CR>
nnoremap <leader>ln :action NewClass<CR>

nnoremap <leader>gj :action JumpToNextChange<CR>
nnoremap <leader>gk :action JumpToLastChange<CR>

nnoremap <leader>tn :action Terminal.OpenInTerminal<CR>
nnoremap <leader>to :action ActivateTerminalToolWindow<CR>

nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
nnoremap <leader>p :action PasteMultiple<CR>
