set clipboard+=unnamed
set clipboard+=ideaput

nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

let mapleader=" "

nnoremap <s-h> :action PreviousTab<CR>
nnoremap <s-l> :action NextTab<CR>

set ideajoin
set idearefactormode=keep
vnoremap < <gv
vnoremap > >gv

set incsearch

nnoremap <leader>r :action ContextRun<CR>