#!/bin/zsh

alias ls="exa"
alias find="fd"
alias grep="rg"
alias cat="bat"
alias diff="delta"
alias du="dust"

alias ga="git add"
alias gap="ga -p"
alias gb="git branch"
alias gc="git commit"
alias gd="git diff"
alias gds="gd --staged"
alias gl="git log --format=full"
alias glo="gl --oneline"
alias go="git checkout"
alias gpo="git push origin"
alias gr="git restore"
alias grs="gr --staged"
alias gs="git status"
alias gsu="git submodule update"
alias gsur="gsu --recursive"
alias gbs="go \`gb | fzf\`"

alias cdhq="cd ~/dev/renode-hq"
alias cdrenode="cd ~/dev/renode-hq/src/renode"
alias cdinfra="cd ~/dev/renode-hq/src/renode/src/Infrastructure"
alias cdtlib="cd ~/dev/renode-hq/src/renode/src/Infrastructure/src/Emulator/Cores/tlib"

alias readelf="readelf -W"
alias gdb_tlib="gdb -p `ps aux | grep Renode.dll | grep -v rg | awk '{ print $2 }'` -ex 'handle SIGXCPU SIG33 SIG34 SIG35 SIG36 SIG37 SIGPWR nostop noprint'"
alias zynqmp_docs="google-chrome ~/dev/docs/zynqmp/*.pdf"
